
@import "themes.css";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap'); 


body {
    background-color: var(--bg) ;
    color: var(--font);
    margin: 0em auto;
    margin-bottom: 0;
    max-width: 40rem;
    padding: 16px;
    font-size: 15px;
    line-height: 1.4;
    font-family:'Fira Code';
    margin-left: auto;
    margin-right: auto;
}

.todo, .TODO {
    color: var(--todo);
}

.done, .DONE {
    color: var(--done);
}

p {
    display: block;
}

.underline {
    text-decoration: underline;
}

.footpara {
    display: inline;
    margin: 0;
}

.footdef {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto Slab';
    font-weight: 400;
}

.outline-2 {
    margin-top: 3em;
}

#org-div-home-and-up {
    text-align: right;
}

.src, .DEMONSTRATION, .example {
    border: 1px solid var(--color0);
    margin-top: 16px ;
    margin-bottom: 16px ;
    padding: 8px;
    overflow: auto;
    box-shadow: 3px 3px 3px var(--color1);
}

.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



table, tr, td {

    border: 1px inset var(--color0);
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    /* width: 100%; */
   display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    /* border: 0 solid var(--font); */
        border: 0;
}

dt{
    font-weight: bold;
}

dd{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul  { 
    /* list-style-type: "|> "; */
    margin: 3px;
} 

li {
    margin-top: 0.5em ;
}

.title {
    text-align: center;
    margin-bottom: .2em;
}

.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
}

a {
    color: var(--url);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;    
}

/* blockquote::first-letter { */
/*     font-size: 3em; */
/* } */

blockquote:before {
    content: open-quote;
    float: left;
    font-size: 2em;
}

blockquote {
margin: 0;
}

blockquote > p {
    font-family: Times New Roman,Times,Arial;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
}

#google_translate_element{
    display:none;
}

/* Google Translate Overrides */
html, body{
    min-height: 0!important;
    height: auto!important;
    position: inherit!important;
}
