
.light {
    --bg: #fff;             /*background color*/
    --url: #0068E0;          /*link color*/
    --font: #454545;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #ccc;
    --color1: #eee;
}

.dark {
    --bg: #000;             /*background color*/
    --url: #00AFF4;
    --font: #fff;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #000;
    --color1: #000;
}


:root {
        --bg: #fff;             /*background color*/
    --url: #0068E0;          /*link color*/
    --font: #454545;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #ccc;
    --color1: #eee;
}
