
.light {
    --bg: #fff;             /*background color*/
    --url: #0068E0;          /*link color*/
    --font: #454545;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #ccc;
    --color1: #eee;
}

.dark {
    --bg: #252528;             /*background color*/
    --url: #A0A0A0;
    --font: #D8D8D8;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #444444;
    --color1: var(--bg);
}


:root {
        --bg: #fff;             /*background color*/
    --url: #0068E0;          /*link color*/
    --font: #454545;          /*font color*/
    --todo: red;
    --done: green;
    
    --color0: #ccc;
    --color1: #eee;
}
